<div class="tile is-child box">
    <p class="subtitle">任務清單列表</p>
    <table class="table is-bordered is-fullwidth is-hoverable missions-list-table">
        <thead>
            <tr>
                <th class="table-th is-info">標題</th>
                <th class="table-th is-info">優先度</th>
                <th class="table-th is-info">狀態</th>
                <th class="table-th is-info">開始時間</th>
                <th class="table-th is-info">結束時間</th>
                <th class="table-th is-info">標籤</th>
            </tr>                        
        </thead>
            
        <tbody>

            <% @missions.each do |mission| %>
                <tr class="mission-row" mission-id ="<%=mission.id%>" >
                    <td><%= mission.title    %></td>
                    <td><%= transform_priority(mission.priority) %></td>
                    <td><%= transform_status(mission.status) %></td>
                    <td><%= mission.start_time %></td>
                    <td><%= mission.end_time %></td>
                    <td><%= mission.tags %></td>
                </tr>
            <% end %>

        </tbody>
    </table>
</div>

