<!DOCTYPE html>
<html>
  <head>
    <title>MissionSchedulingEditor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <section class="hero is-primary">
    <div class="hero-body">
      <div class="container title-left">
        <h1 class="title">
          任務排程管理
        </h1>
        <h2 class="subtitle">
          Mission Scheduling Editor
        </h2>
      </div>
    </div> 
    </section>
    <hr>

    <%= yield %>
  </body>
</html>
